# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UnrealBuildTool.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Development\UnrealBuildTool\.idea\.idea.UnrealBuildTool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
